# Editor-related directories and files
.vscode/

# LaTex-related files
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.lof
*.log
*.lot
*.out
*.synctex.gz
comment.cut
*.toc

README.pdf

# OCaml-related files
.merlin
.ocamlformat

# Docker-related files
*.tar.gz

# TiML-related files
.cm/
main.cm
*.x86-linux
*.lisp
*.smt2

# Files related to reviews and responses
reviews/
